<h2 mat-dialog-title>{{ editando ? 'Editar Categoria' : 'Nova Categoria' }}</h2>

<form [formGroup]="form" (ngSubmit)="salvar()">
  <mat-dialog-content class="app-form-dialog">
    <mat-form-field appearance="outline" class="app-form-field">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" maxlength="100" />
      <mat-error *ngIf="form.controls.nome.hasError('required')">Informe o nome</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="app-form-field">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipo">
        <mat-option value="DESPESA">Despesa</mat-option>
        <mat-option value="RECEITA">Receita</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close>Cancelar</button>
    <button mat-flat-button color="primary" type="submit">Salvar</button>
  </mat-dialog-actions>
</form>
